// fonts
.fp {font-family: Arial,Helvetica,sans-serif;} // font primary
.fh {font-family: 'Dosis',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #636363;
@c2: #eb8500;
@c3: #025862;
@c4: #01253d;
@c5: #02949e;
@c6: #fbff77;
@c7: #feb61c;
@c8: #b3e9ed;
@c9: #02949e;
@c10: #a6b3c1;
@c11: #d7e0e7;
@c12: #02b7c3;
@c13: #6dbbc3;
@c14: #cc99cc;
@c15: #46b4c0;
@c16: #34977e;
@c17: #f6b22e;

@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 17px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.5; // line height primary

// form
@input-size: 16px;
@input-height: 40px;
@input-padding: 15px;
@input-border: #5a9ca8;
@input-bg: #d3eaed;

// layout
@content-width: 960px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";