.img-left {
	float: left;
	margin: 6px 20px 6px 0;
	@media @xs {
		display: block;
		float: none;
		margin: 0 0 20px;
	}
}
.img-right {
	float: right;
	margin: 6px 0 6px 20px;
	@media @xs {
		display: block;
		float: none;
		margin: 0 0 20px;
	}
}
.body_bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	@media @sm, @xs {
		display: none;
	}
	&:before,&:after{
		content: '';
		position: absolute;
		z-index: 99999999;
		height: 200%;
		top: -98px;
		left: 50%;
		width: @content-width;
		margin: 0 0 0 -(@content-width+@content-width/2-9);
		background: url(../images/bg/01.png) no-repeat right top;
		@media @md {
			width: @content-width-md;
			margin: 0 0 0 -(@content-width-md+@content-width-md/2-9);
		}
	}
	&:after{
		top: -123px;
		margin: 0 0 0 (@content-width/2+25);
		background: url(../images/bg/02.png) no-repeat left top;
		@media @md {
			margin: 0 0 0 (@content-width-md/2+25);
		}
	}
}
#page-header {
	margin: 0 0 -14px;
	background: #6dbcc5;
	.header_top {
		position: relative;
		z-index: 999;
		.container {
			padding-top: 14px;
			padding-bottom: 12px;
			text-align: right;
			background: -moz-radial-gradient(center, ellipse cover,  rgba(82,140,147,1) 0%, rgba(82,140,147,0.5) 20%, rgba(82,140,147,0) 75%);
			background: -webkit-radial-gradient(center, ellipse cover,  rgba(82,140,147,1) 0%,rgba(82,140,147,0.5) 20%,rgba(82,140,147,0) 75%);
			background: radial-gradient(ellipse at center,  rgba(82,140,147,1) 0%,rgba(82,140,147,0.5) 20%,rgba(82,140,147,0) 75%);
			background-size: 75% 50%;
			background-repeat: no-repeat;
			background-position: right 150%;
			@media @sm, @xs {
				background-position: center 150%;
			}
			@media @xs {
				text-align: center;
			}
		}
	}
	.header_main {
		position: relative;
		overflow: hidden;
		z-index: 999;
		padding: 0 0 14px;
		.container {
			background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 75%);
			background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 75%);
			background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 75%);
			background-size: 75% 400px;
			background-repeat: no-repeat;
			background-position: right -200px;
			@media @sm, @xs {
				background-position: center -200px;
			}
		}
	}
	.search {
		display: inline-block;
		vertical-align: top;
		@media @xs {
			float: right;
		}
		@media @xs  {
			display: block;
			float: none;
		}
		[type="text"], [type="search"] {
			width: 200px;
			height: 32px;
			float: left;
			border-bottom: 0;
			border-right: 0;
			font-size: 14px;
			padding: 0 10px;
			@media @xs {
				width: 100%;
				float: left;
				margin: 0 -40px 0 0;
			}
		}
		button {
			position: relative;
			float: left;
			height: 32px;
			line-height: 32px;
			background: none;
			padding: 0 10px;
			font-size: 0;
			@media @xs {
				width: 40px;
				color: @c3;
			}
			&:hover{
				color: @c3;
			}
			&:before{
				.fi;
				content: '\e803';
				font-size: 26px;
				font-weight: normal;
			}
		}
	}
	.menu_header {
		display: inline-block;
		vertical-align: top;
		@media @sm {
			float: left;
		}
		@media @xs {
			float: none;
		}
		ul {
			.rul;
			margin: 0 0 0 24px;
			@media @sm, @xs {
				margin: 0;
			}
			li {
				.rli;
				.fh;
				display: inline-block;
				vertical-align: top;
				font-size: 18px;
				line-height: 1;
				margin: 8px 0 8px 20px;
				a {
					color: #fff;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
					[class^="icon-"] {
						float: left;
						font-size: 22px;
						margin: -3px 11px 0 0;
						&:before{
							margin: 0;
						}
					}
				}
			}
		}
	}
	.logo {
		float: left;
		width: 50%;
		padding: 48px 7.4% 30px 6.2%;
		@media @sm {
			float: none;
			width: auto;
			padding: 40px 25% 60px;
			text-align: center;
		}
		@media @xs {
			float: none;
			width: auto;
			padding: 40px 5% 50px;
			text-align: center;
		}
		a {
			img {
				margin: -12% 0;
				@media @xs {
					margin: -8% 0;
				}
			}
		}
	}
	.menu_category {
		float: left;
		width: 50%;
		@media @sm, @xs {
			float: none;
			width: auto;
		}
		ul {
			.rul;
			.clearfix;
			margin: 30px 0 22px -47px;
			@media @sm, @xs {
				margin: 0 0 20px;
				text-align: center;
			}
			li {
				.rli;
				float: left;
				margin: 0 0 0 60px;
				@media @sm, @xs {
					float: none;
					display: inline-block;
					vertical-align: top;
					margin: 0 10px;
				}
				@media @xs {
					margin: 0 20px;
				}
				&.on {
					a {
						font-weight: bold;
						color: #fff;
						&:before{
							color: @c2;
							background-color: #fbff72;
							background-image: -moz-linear-gradient(left,  #fbff72 0%, #ffffff 100%);
							background-image: -webkit-linear-gradient(left,  #fbff72 0%,#ffffff 100%);
							background-image: linear-gradient(to right,  #fbff72 0%,#ffffff 100%);
						}
					}
				}
				&.kids {
					a {
						&:before{
							content: '\e827';
						}
					}
				}
				&.adult {
					a {
						&:before{
							content: '\e828';
						}
					}
				}
				a {
					.fh;
					.transition(0.2s);
					display: block;
					padding: 30px 0 30px 100px;
					text-decoration: none;
					text-transform: uppercase;
					color: @c4;
					font-size: 22px;
					line-height: 1;
					@media @xs {
						padding: 80px 0 0;
					}
					&:hover{
						color: #fff;
						&:before{
							background: #fff;
						}
					}
					&:before{
						.fi;
						.border-radius(32px);
						.transition(0.2s);
						content: '';
						position: absolute;
						z-index: 1;
						left: 7px;
						top: 50%;
						width: 64px;
						height: 64px;
						line-height: 64px;
						text-align: center;
						margin: -32px 0 0;
						font-size: 50px;
						color: @c3;
						font-weight: normal;
						background-color: #d7e0e7;
						@media @xs {
							top: 0;
							left: 50%;
							margin: 0 0 0 -32px;
						}
					}
					&:after{
						.border-radius(0 39px 39px 0);
						.box-shadow(2px 0 6px fade(#000,20%));
						content: '';
						position: absolute;
						left: 39px;
						top: 50%;
						height: 78px;
						width: 39px;
						margin: -39px 0 0;
						background: #02b2bd;
						@media @xs {
							top: 0;
							left: 50%;
							margin: -7px 0 0;
						}
					}
				}
			}
		}
	}
	.menu_main {
		.border-radius(16px 16px 0 0);
		position: relative;
		clear: both;
		margin: 0 -20px;
		padding: 0 20px;
		background-color: #d7e7e6;
		background-image: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
		background-image: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
		background-image: radial-gradient(ellipse at center,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
		background-repeat: no-repeat;
		background-size: 60% 25%;
		background-position: center 115%;
		@media @xs {
			.border-radius(0);
		}
		&:before{
			content: '';
			position: absolute;
			bottom: -27px;
			right: 100%;
			margin: 0 -39px 0 0;
			width: 180px;
			padding: 0 0 19.7%;
			background: url(../images/figures/01.png) no-repeat top;
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
			@media @sm {
				width: 135px;
				margin: 0 -25px 0 0;
			}
			@media @xs {
				display: none;
			}
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -22px;
			left: 100%;
			margin: 0 0 0 -54px;
			width: 200px;
			padding: 0 0 19.7%;
			background: url(../images/figures/02.png) no-repeat top;
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
			@media @sm {
				width: 150px;
				margin: 0 0 0 -40px;
			}
			@media @xs {
				display: none;
			}
		}
		ul {
			.rul;
			position: relative;
			z-index: 1;
			display: table;
			width: 100%;
			@media @sm, @xs {
				display: block;
				text-align: center;
				padding: 10px 0;
			}
			li {
				.fh;
				.rli;
				display: table-cell;
				vertical-align: middle;
				padding: 28px 5px 21px;
				text-align: center;
				font-size: 17px;
				line-height: 1.2;
				text-transform: uppercase;
				@media @sm, @xs {
					display: inline-block;
					padding: 10px 10px;
				}
				&.on {
					font-weight: bold;
					background: -moz-linear-gradient(left,  rgba(251,255,119,0) 0%, rgba(251,255,119,0.5) 50%, rgba(251,255,119,0) 100%);
					background: -webkit-linear-gradient(left,  rgba(251,255,119,0) 0%,rgba(251,255,119,0.5) 50%,rgba(251,255,119,0) 100%);
					background: linear-gradient(to right,  rgba(251,255,119,0) 0%,rgba(251,255,119,0.5) 50%,rgba(251,255,119,0) 100%);
					&:before{
						top: auto;
						bottom: 0;
						left: 50%;
						margin: 0 0 0 -12px;
						border: 12px solid transparent;
						border-top-width: 0;
						border-bottom: 13px solid #fff;
						@media @sm, @xs {
							display: none;
						}
					}
					a {
						color: @c3;
					}
				}
				a {
					color: @c4;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.box_test {
	position: relative;
	overflow: hidden;
	padding: 65px 0 155px;
	background: @c5;
	@media @xs {
		padding: 40px 0 80px;
	}
	&:before{
		content: '';
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		height: 138px;
		background: url(../images/bg/03.png) repeat-x bottom;
		@media @xs {
			background: none;
		}
	}
	.col_left {
		float: left;
		width: 50%;
		padding: 0 20px 0 0;
		color: #fff;
		line-height: 1.75;
		@media @sm, @xs {
			float: none;
			width: auto;
			padding: 0;
		}
		h2 {
			position: relative;
			text-transform: uppercase;
			padding: 0 0 0 112px;
			margin: 0 0 23px;
			color: @c6;
			font-size: 39px;
			line-height: 1.15;
			@media @sm, @xs {
				padding-left: 0;
			}
			&:before{
				position: absolute;
				left: -7px;
				top: 50%;
				margin: -48px 0 0;
				content: url('../images/icon/01.png');
				@media @sm, @xs {
					display: none;
				}
			}
		}
		h3 {
			font-size: 24px;
			margin: 0 0 25px;
			strong {
				color: #fff;
			}
		}
		.footer {
			color: @c6;
			&:before{
				.fi;
				content: '\e81f';
				font-size: 84px;
				line-height: 1;
				color: fade(#fff,80%);
				float: right;
				margin: -11px -12px -10px 10px;
				@media @sm, @xs {
					content: '\e821';
				}
			}
		}
	}
	.col_right {
		float: left;
		width: 50%;
		padding: 0 0 0 20px;
		@media @sm, @xs {
			float: none;
			width: auto;
			padding: 0;
		}
	}
	form {
		.border-radius(20px);
		position: relative;
		margin: 5px 0 60px;
		padding: 30px 30px 30px 48px;
		color: @c4;
		background: fade(#fff,50%);
		@media @xs {
			.border-radius(0);
			margin: 0 -20px;
			padding: 30px 20px 30px;
		}
		&:before{
			content: '';
			position: absolute;
			top: 100%;
			left: 100%;
			margin: -70px 0 0 -130px;
			width: 258px;
			padding: 0 0 70%;
			background: url(../images/figures/03.png) no-repeat top;
			@media @xs {
				display: none;
			}
		}
		h3 {
			font-size: 24px;
			line-height: 1.25;
			font-weight: bold;
			margin: 0 0 17px;
		}
		p {
			margin: 0 0 25px;
		}
		.checkbox {
			.icheckbox {
				.border-radius(0);
				float: left;
				margin: 1px 0 0 0;
				background: #fff;
				width: 25px;
				height: 25px;
				line-height: 25px;
				font-size: 24px;
			}
			label {
				.fh;
				font-size: 24px;
				line-height: 1.2;
				display: block;
				margin: 0 0 14px 40px;
			}
		}
	}
	.submit {
		position: relative;
		top: 15px;
		text-align: center;
		padding: 0 20px 0 0;
		margin: 0 0 -55px;
		button {
			.border-radius(6px);
			.box-shadow(-1px -1px 0 fade(#000,20%));
			height: 78px;
			font-size: 22px;
			font-weight: bold;
			padding: 0 48px;
			color: @c3;
			background: @c7;
			text-transform: uppercase;
			&:hover{
				background: #fff;
			}
			&:before{
				.fi;
				content: '\e808';
				font-weight: normal;
				font-size: 38px;
				float: left;
				margin: 0 14px 0 0;
			}
		}
	}
}
.box_help {
	position: relative;
	z-index: 1;
	padding: 10px 0 42px;
	@media @xs {
		padding: 40px 0;
	}
	.col_left {
		.fh;
		float: left;
		width: 35%;
		color: @c3;
		font-size: 24px;
		line-height: 1.2;
		@media @sm, @xs {
			float: none;
			width: auto;
		}
		h2 {
			font-size: 48px;
			line-height: 1.17;
			color: @c3;
			text-transform: uppercase;
			margin: 0 0 35px;
		}
		p {
			margin: 0 0 30px;
		}
	}
	.col_right {
		float: left;
		width: 65%;
		@media @sm, @xs {
			float: none;
			width: auto;
		}
	}
	.list {
		position: relative;
		padding: 33px 0 0 210px;
		@media @xs {
			padding: 0;
		}
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 236px;
			padding: 0 0 100%;
			margin: -162px 0 0 -17px;
			background: url(../images/figures/04.png) no-repeat top;
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
			@media @sm {
				width: 200px;
				margin-top: -150px;
			}
			@media @xs {
				display: none;
			}
		}
		ul {
			.rul;
			li {
				.rli;
				margin: 0 0 25px;
				&.highlight {
					a {
						background: @c7;
						&:hover{
							background: darken(@c7,10%);
						}
					}
				}
				a {
					.fh;
					.border-radius(6px);
					.transition(0.2s);
					display: block;
					text-decoration: none;
					color: #fff;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 26px;
					line-height: 1.2;
					padding: 37px 20px;
					background: @c3;
					&:hover{
						background: darken(@c3,5%);
					}
					[class^="icon-"] {
						float: left;
						font-size: 42px;
						line-height: 1;
						margin: -7px 0 0;
					}
				}
			}
		}
	}
}
.box_competition {
	position: relative;
	padding: 135px 0 48px;
	background: @c8 url('../images/bg/04.png') repeat-x top;
	@media @xs {
		background: none;
		padding: 0;
	}
	.title {
		position: relative;
		float: left;
		width: 24%;
		color: @c9;
		padding: 0 45px 0 0;
		@media @sm, @xs {
			float: none;
			width: auto;
			padding: 0;
		}
		h2 {
			font-size: 21px;
			line-height: 1.1;
			text-transform: uppercase;
			border-bottom: 2px solid @c9;
			margin: 0 0 10px;
			padding: 0 0 15px;
		}
		[class^="icon-"] {
			position: relative;
			float: left;
			top: -14px;
			border-top: 2px solid @c9;
			font-size: 46px;
			line-height: 1;
			padding: 20px 0;
			@media @sm, @xs {
				position: absolute;
				left: 0;
				top: 100%;
			}
			&:before{
				margin: 0;
			}
		}
	}
	figure {
		float: left;
		width: 36%;
		margin: 5px 0;
		@media @sm {
			width: 50%;
			padding: 0 0 0 70px;
		}
		@media @xs {
			float: none;
			width: auto;
			padding: 0 0 10px 60px;
		}
		img {
			.border-radius(4px);
			display: block;
			margin: auto;
		}
	}
	.content {
		float: left;
		width: 40%;
		font-size: 15px;
		padding: 0 0 0 30px;
		@media @sm {
			width: 50%;
		}
		@media @xs {
			float: none;
			width: auto;
			padding: 0 0 0 60px;
		}
		p {
			margin: 0 0 18px;
		}
	}
	nav{
		a {
			.btn;
			vertical-align: top;
			margin: 0 5px 5px 0;
			&:before{
				.fi;
				content: '\e80c';
				font-size: 22px;
				float: left;
				margin: 0 12px 0 -5px;
			}
			&.facebook {
				padding: 0;
				background: fade(@c3,30%);
				font-size: 0;
				color: @c3;
				&:hover{
					background: fade(@c3,20%);
				}
				&:before{
					content: '\e80d';
					margin: 0;
					width: 40px;
					font-size: 32px;
				}
			}
		}
	}
}
.box_cols {
	.cols {
		.clearfix;
		margin: 0 0 0 -80px;
		.col {
			width: 50%;
			padding: 0 0 0 80px;
			float: left;
			@media @xs {
				float: none;
				width: auto;
			}
		}
	}
}
.box_advice, .page_consulting {
	.items {
		.item {
			a {
				.clearfix;
				display: block;
				color: @c1;
				text-decoration: none;
				&:hover{
					color: @c2;
				}
				.q, .a {
					position: relative;
					clear: both;
					.author {
						.fh;
						position: relative;
						width: 46%;
						float: left;
						font-size: 16px;
						line-height: 1.4;
						padding: 0 20px 0 48px;
						margin: 0 0 17px;
						color: @c3;
						@media @xs {
							width: auto;
							float: none;
							padding-right: 0;
						}
						&:before{
							.fi;
							.border-radius(50%);
							content: '\e80f';
							position: absolute;
							top: 0;
							left: 0;
							width: 40px;
							height: 40px;
							line-height: 40px;
							font-size: 26px;
							text-align: center;
							color: @c10;
							background: @c11;
						}
						.date {
							.fp;
							color: @c1;
							font-size: 12px;
						}
					}
					.content {
						float: left;
						width: 54%;
						font-size: 15px;
						line-height: 1.2;
						padding: 3px 0;
						margin: 0 0 17px;
						@media @xs {
							float: none;
							width: auto;
						}
					}
				}
				.q {
					.clearfix;
					border-bottom: 2px solid @c11;
				}
				.a {
					padding: 30px 0 0;
					&:before, &:after {
						content: '';
						position: absolute;
						top: 0;
						right: 16px;
						border-top: 15px solid @c11;
						border-left: 27px solid transparent;
					}
					&:after{
						top: -3px;
						right: 18px;
						border-top-color: #fff;
					}
					.author {
						color: @c2;
						&:before{
							content: '\e80e';
							color: @c2;
							background: fade(@c2,20%);
						}
					}
				}
			}
		}
	}
}
.box_advice {
	padding: 70px 0 68px;
	@media @xs {
		padding: 70px 0 0;
	}
	.title {
		.fh;
		position: relative;
		color: @c3;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 1.2;
		padding: 13px 0 15px 78px;
		margin: 0 0 32px;
		border-bottom: 2px solid @c3;
		&:before{
			.fi;
			content: '\e80e';
			position: absolute;
			bottom: 0;
			left: 0;
			font-size: 36px;
			line-height: 1;
			padding: 0 10px 8px;
			border-bottom: 2px solid @c3;
		}
	}
	.more {
		.clearfix;
		a {
			.fh;
			float: left;
			margin: 10px 0;
			font-size: 15px;
			color: @c3;
			[class^="icon-"] {
				float: left;
				font-size: 23px;
				margin: -5px 4px 0 0;
			}
			&.btn {
				margin: 0 47px 0 0;
				color: #fff;
				[class^="icon-"] {
					font-size: 22px;
					margin: 0 5px 0 -11px;
				}
			}
		}
	}
}
.page_consulting {
	position: relative;
	overflow: hidden;
	margin: -20px 0 85px;
	padding: 20px 0 105px;
	background: url(../images/bg/06.png) repeat-x bottom;
	-webkit-background-size: 10px auto;
	background-size: 10px auto;
	.header {
		.clearfix;
		position: relative;
		padding: 0 38% 0 0;
		min-height: 350px;
		margin: 0 0 30px;
		@media @sm {
			padding: 0 30% 0 0;
		}
		@media @xs {
			min-height: 0;
			padding: 0;
		}
		&:before{
			content: '';
			position: absolute;
			top: -20px;
			right: -40px;
			width: 351px;
			padding: 0 0 61%;
			background: url(../images/figures/06.png) no-repeat;
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
			@media @sm {
				top: 60px;
				width: 240px;
				padding: 0 0 49%;
			}
			@media @xs {
				display: none;
			}
		}
		h1 {
			margin: 0 0 27px;
		}
		figure {
			position: relative;
			float: left;
			width: 35%;
			@media @xs {
				float: none;
				width: auto;
				margin: 0 20%;
			}
			&:before{
				.border-radius(50%);
				.box-shadow(inset 5px 5px 0 fade(#000,10%));
				content: '';
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			img {
				.border-radius(50%);
				display: block;
			}
		}
		.content {
			float: left;
			width: 65%;
			padding: 32px 0 0 40px;
			color: @c4;
			line-height: 1.75;
			@media @xs {
				float: none;
				width: auto;
				padding: 35px 0;
			}
			h2 {
				font-size: 24px;
				font-weight: bold;
				color: @c3;
				margin: 0 0 15px;
				mark {
					color: @c7;
				}
			}
		}
	}
	.items {
		margin: 0 0 40px;
		.item {
			margin: 0 0 33px;
			a {
				.q {
					padding: 25px 30px 2px 30px;
					border: 2px solid @c11;
					.author {
						width: 24%;
					}
					.content {
						width: 76%;
						font-size: 17px;
						line-height: 1.5;
						margin: 0;
						padding: 0;
					}
				}
				.a {
					padding: 35px 32px;
					&:before, &:after {
						left: 12px;
						right: auto;
						border-top-width: 27px;
						border-left-width: 43px;
					}
					&:after{
						top: -4px;
						left: 10px;
						right: auto;
					}
					.author {
						width: 24%;
					}
					.content {
						width: 76%;
						font-size: 17px;
						line-height: 1.5;
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	}
	.navigation {
		.clearfix;
		.button {
			float: left;
			width: 20%;
			@media @sm, @xs {
				float: none;
				width: auto;
				text-align: center;
				margin: 0 0 30px;
			}
			a {
				.btn;
				height: 53px;
				line-height: 53px;
				font-size: 20px;
				[class^="icon-"] {
					font-size: 30px;
					float: left;
					margin: 0 12px 0 -3px;
					&:before{
						margin: 0;
					}
				}
			}
		}
		.pager {
			float: left;
			width: 80%;
			@media @sm, @xs  {
				float: none;
				width: auto;
			}
			.pagination {
				text-align: right;
				margin: 0;
				@media @sm, @xs {
					text-align: center;
				}
			}
		}
	}
}
.box_most-read {
	padding: 70px 0 50px;
	.title {
		.fh;
		position: relative;
		color: @c3;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 1.2;
		padding: 13px 0 15px 78px;
		margin: 0 0 40px;
		border-bottom: 2px solid @c3;
		&:before{
			.fi;
			content: '\e812';
			position: absolute;
			bottom: 0;
			left: 0;
			font-size: 36px;
			line-height: 1;
			padding: 0 10px 8px;
			border-bottom: 2px solid @c3;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			margin: 0 0 18px;
			a {
				.fh;
				.clearfix;
				display: block;
				font-size: 16px;
				line-height: 1.2;
				&:hover{
					.content {
						text-decoration: none;
					}
				}
				figure {
					float: left;
					width: 19%;
					padding: 0 20px 0 0;
					img {
						display: block;
						margin: auto;
					}
				}
				.content {
					float: left;
					width: 81%;
					text-decoration: underline;
					p {
						margin: 0;
					}
				}
			}
		}
	}
	nav {
		.fh;
		font-size: 15px;
		line-height: 1;
		text-align: right;
		a {
			display: inline-block;
			text-decoration: none;
			color: @c3;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				content: '\e80c';
				font-size: 26px;
				line-height: 1;
				float: left;
				margin: -3px 7px 0 0;
			}
		}
	}
}
.menu_bottom {
	position: relative;
	padding: 70px 0 60px;
	color: #fff;
	background: @c9;
	a {
		color: #fff;
	}
	.title {
		.fh;
		text-transform: uppercase;
		font-size: 22px;
		line-height: 1.2;
		margin: 0 0 35px;
	}
	.list {
		float: left;
		width: 50%;
		padding: 0 20px 0 0;
		@media @sm, @xs {
			float: none;
			width: auto;
			padding: 0 0 30px;
		}
		ul {
			.rul;
			li {
				.rli;
				display: inline-block;
				vertical-align: top;
				width: 50%;
				font-size: 14px;
				line-height: 1.2;
				padding: 0 0 0 12px;
				margin: 0 -4px 12px 0;
				@media @sm {
					width: 33.3333%;
				}
				&:before{
					content: '\e814';
					font-size: 16px;
					top: 0;
				}
				a {
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	.buttons {
		float: left;
		width: 50%;
		@media @sm, @xs {
			float: none;
			width: auto;
		}
		ul {
			.rul;
			margin: 0 0 0 -20px;
			li {
				.rli;
				display: inline-block;
				vertical-align: top;
				width: 50%;
				margin: 0 -4px 12px 0;
				padding: 0 0 0 40px;
				@media @sm, @xs {
					padding: 0 0 0 20px;
				}
				@media @xs {
					width: auto;
					display: block;
				}
				a {
					.btn;
					display: block;
					height: auto;
					line-height: 1.1;
					font-size: 16px;
					text-align: left;
					padding: 15px 16px;
					text-transform: uppercase;
					@media @xs {
						display: block;
					}
					[class^="icon-"] {
						float: left;
						font-size: 24px;
						line-height: 1;
						margin: -4px 6px 0 0;
					}
				}
			}
		}
	}
}
#page-footer {
	border-bottom: 16px solid @c9;
	background: @c12;
	padding: 35px 0 15px;
	.copy {
		font-size: 15px;
		color: #fff;
		a {
			color: #fff;
		}
	}
}
#content {
	position: relative;
	padding: 35px 0;
	background: @bb;
}
.breadcrumbs {
	margin: 0 0 30px;
	ul {
		.rul;
		li {
			display: inline-block;
			color: @c3;
			font-weight: bold;
			font-size: 15px;
			padding: 0 0 0 15px;
			margin: 0 7px 0 0;
			&:before{
				font-size: 18px;
				font-weight: normal;
				color: @c3;
				top: 1px;
			}
			&.home {
				padding: 0 0 0 34px;
				&:before{
					content: '\e817';
					font-size: 22px;
					top: -3px;
				}
			}
			a {
				text-decoration: none;
				color: @c1;
				font-weight: normal;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.pagination {
	.rul;
	text-align: center;
	margin: 30px 0;
	li {
		.rli;
		display: inline-block;
		vertical-align: middle;
		margin: 0 -1px;
		a {
			.border-radius(50%);
			display: inline-block;
			vertical-align: middle;
			width: 38px;
			height: 38px;
			line-height: 36px;
			text-decoration: none;
			text-align: center;
			color: @c1;
			background: #fff;
			border: 1px solid #ccc;
			&:hover{
				background: @c7;
				border-color: transparent;
			}
		}
		&.first,&.prev,&.next,&.last {
			a {
				width: 50px;
				height: 50px;
				line-height: 48px;
				background: @c13;
				color: fade(#fff,80%);
				font-size: 0;
				border-color: transparent;
				&:hover{
					background: @c3;
				}
				&:before{
					.fi;
					font-size: 26px;
				}
			}
		}
		&.first {
			a {
				padding-right: 4px;
				&:before{
					content: '\e818\e818';
				}
			}
		}
		&.prev {
			margin-right: 7px;
			a {
				padding-right: 4px;
				&:before{
					content: '\e818';
				}
			}
		}
		&.next {
			margin-left: 7px;
			a {
				padding-left: 4px;
				&:before{
					content: '\e819';
				}
			}
		}
		&.last {
			a {
				padding-left: 4px;
				&:before{
					content: '\e819\e819';
				}
			}
		}
		&.on {
			a {
				font-weight: bold;
				color: @c7;
				background: @c3;
				border-color: transparent;
			}
		}
	}
}
.page_news {
	position: relative;
	padding: 0 0 60px;
	margin: 0 0 50px;
	background: url(../images/bg/06.png) repeat-x bottom;
	-webkit-background-size: 10px auto;
	background-size: 10px auto;
	.items {
		margin: 0 0 54px;
		.item {
			.clearfix;
			margin: 0 0 30px;
			figure {
				float: left;
				width: 26%;
				padding: 5px 40px 5px 0;
				@media @xs {
					width: auto;
					padding-right: 0;
					margin: 0 0 10px;
				}
				img {
					.border-radius(4px);
					display: block;
					margin: auto;
				}
			}
			.content {
				width: 74%;
				float: left;
				line-height: 1.75;
				@media @xs {
					width: auto;
					float: none;
				}
				h2 {
					font-size: 24px;
					font-weight: bold;
					margin: 0 0 15px;
					a {
						color: @c7;
					}
				}
			}
		}
	}
}
.page_test_result {
	position: relative;
	overflow: hidden;
	padding: 0 0 70px;
	background: url(../images/bg/06.png) repeat-x bottom;
	-webkit-background-size: 10px auto;
	background-size: 10px auto;
	@media @xs {
		padding: 0;
	}
	.content_result {
		.border-radius(20px);
		position: relative;
		padding: 6.5% 14.5%;
		margin: 75px 7.8% 120px;
		line-height: 1.75;
		color: @c4;
		background: @c12;
		@media @xs {
			.border-radius(0);
			margin: 0 -20px 80px;
			padding: 20px;
		}
		&:before, &:after{
			content: '';
			position: absolute;
			right: 100%;
			bottom: -64px;
			width: 236px;
			padding: 0 0 75%;
			margin: 0 -75px 0 0;
			background: url(../images/figures/04.png) no-repeat bottom;
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
			@media @sm {
				width: 160px;
			}
			@media @xs {
				display: none;
			}
		}
		&:after{
			right: auto;
			left: 100%;
			width: 258px;
			bottom: -52px;
			margin: 0 0 0 -55px;
			background: url(../images/figures/03.png) no-repeat bottom;
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
			@media @sm {
				width: 180px;
				margin: 0 0 0 -85px;
			}
		}
		h2 {
			font-size: 39px;
			line-height: 1.25;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			margin: 0 0 25px;
			&:before{
				.fi;
				content: '\e81a';
				position: absolute;
				top: 100%;
				right: 8.5%;
				font-size: 200px;
				line-height: 1;
				color: @c12;
				margin: -85px 0 0;
			}
			mark {
				display: block;
				text-transform: none;
				font-size: 75px;
				color: @c6;
				@media @xs {
					font-size: 48px;
				}
				strong {
					text-transform: uppercase;
				}
			}
		}
	}
	.step_01, .step_02 {
		.clearfix;
		margin: 0 0 60px;
		.content {
			.fh;
			float: left;
			width: 58%;
			padding: 0 6% 0 0;
			color: @c3;
			font-size: 24px;
			line-height: 1.25;
			@media @xs {
				float: none;
				width: auto;
				padding: 0;
				text-align: center;
			}
			h2 {
				text-transform: uppercase;
				color: @c3;
				line-height: 1.5;
			}
			p {
				margin: 5px 0 20px;
			}
		}
		.button {
			position: relative;
			float: left;
			width: 42%;
			padding: 10px 0;
			@media @xs {
				float: none;
				width: auto;
				margin: 0 0 30px;
			}
			&:before{
				.fi;
				content: '\e826';
				position: absolute;
				top: 100%;
				left: 50%;
				font-size: 92px;
				line-height: 1;
				color: @c12;
				width: 120px;
				text-align: center;
				margin: 0 0 0 -60px;
			}
			a {
				.fh;
				.border-radius(6px);
				.transition(0.2s);
				display: block;
				text-decoration: none;
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 26px;
				line-height: 1.2;
				padding: 37px 20px;
				background: @c3;
				&:hover{
					background: darken(@c3,5%);
				}
				[class^="icon-"] {
					float: left;
					font-size: 42px;
					line-height: 1;
					margin: -7px 0 0;
				}
			}
		}
	}
	.step_02 {
		.button {
			&:before{
				display: none;
			}
			a {
				background: @c7;
				&:hover{
					background: darken(@c7,10%);
				}
			}
		}
	}
}
.page_doctors {
	margin: 0 0 20px;
	.header {
		position: relative;
		min-height: 230px;
		margin: 0 0 50px;
		padding: 0 28% 0 0;
		@media @sm {
			padding: 0 33.3333% 0 0;
		}
		@media @xs {
			min-height: 0;
			padding: 0;
		}
		h1 {
			margin: 0 0 50px;
			@media @xs {
				margin: 0 0 30px;
			}
		}
		&:before{
			content: '';
			position: absolute;
			top: -61px;
			right: 63px;
			width: 164px;
			padding: 0 0 46%;
			background: url(../images/figures/05.png) no-repeat;
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
			@media @sm {
				top: 0;
				width: 117px;
			}
			@media @xs {
				display: none;
			}
		}
		form {
			.clearfix;
			[type="text"], [type="search"] {
				.fh;
				.border-radius(18px);
				font-size: 39px;
				height: 105px;
				color: #fff;
				float: left;
				padding: 0 115px 0 40px;
				margin: 0 -115px 0 0;
				border-color: @c12;
				background: @c12;
				@media @xs {
					font-size: 20px;
					height: 80px;
					padding: 0 80px 0 30px;
					margin: 0 -80px 0 0;
				}
				&:focus{
					background: @c3;
				}
				&::-webkit-input-placeholder {
					color: #fff;
					text-transform: uppercase;
				}
				&:-moz-placeholder {
					color: #fff;
					text-transform: uppercase;
				}
				&::-moz-placeholder {
				  color: #fff;
				  text-transform: uppercase;
				}
			}
			button {
				position: relative;
				height: 105px;
				line-height: 105px;
				width: 115px;
				padding: 0;
				background: none;
				font-size: 0;
				@media @xs {
					height: 80px;
					line-height: 80px;
					width: 80px;
				}
				&:before{
					.fi;
					content: '\e803';
					font-size: 80px;
					font-weight: normal;
					@media @xs {
						font-size: 40px;
					}
				}
			}
		}
	}
	.map {
		height: 340px;
		text-align: left;
		margin: 0 0 65px;
		@media @xs {
			margin: 0 20px 40px;
			height: 280px;
		}
	}
	.search_results {
		h2 {
			text-transform: uppercase;
			color: @c3;
			margin: 0 0 35px;
			mark {
				font-weight: bold;
				color: @c12;
			}
		}
	}
	.items {
		background: url(../images/bg/05.png) repeat-x bottom;
		-webkit-background-size: 10px auto;
		background-size: 10px auto;
		.item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin: 0 -5px 0 0;
			padding: 50px 30px 35px 0;
			line-height: 1.75;
			background: url(../images/bg/05.png) repeat-x right top;
			-webkit-background-size: 10px auto;
			background-size: 10px auto;
			@media @sm {
				font-size: 15px;
				padding: 30px 20px 20px 0;
			}
			@media @xs {
				display: block;
				width: auto;
				margin: 0;
				padding: 40px 0 30px;
			}
			&:nth-child(even) {
				background-position: left top;
				padding-left: 30px;
				padding-right: 0;
				@media @sm {
					padding-left: 20px;
				}
				@media @xs {
					padding-left: 0;
				}
				&:before{
					content: '';
					position: absolute;
					top: 60px;
					left: -10px;
					bottom: 47px;
					width: 20px;
					background: url(../images/bg/05.png) repeat-y top;
					-webkit-background-size: 10px auto;
					background-size: 10px auto;
					@media @xs {
						display: none;
					}
				}
			}
			@media @lg, @md, @sm {
				&:nth-child(1), &:nth-child(2) {
					background: none;
				}
			}
			h2 {
				font-weight: bold;
				text-transform: none;
				font-size: 24px;
				margin: 0 0 17px;
			}
			address {
				float: left;
				width: 40%;
				padding: 0 10px 0 0;
				font-style: normal;
				color: @c4;
				@media @xs {
					float: none;
					width: auto;
				}
			}
			.phone, .email {
				position: relative;
				width: 60%;
				float: left;
				padding: 0 0 0 33px;
				color: @c3;
				@media @xs {
					float: none;
					width: auto;
				}
				&:before{
					.fi;
					content: '\e81c';
					position: absolute;
					top: 3px;
					left: 3px;
					line-height: 1;
					font-size: 24px;
					color: @c12;
				}
				a {
					color: @c3;
				}
			}
			.email {
				&:before{
					content: '\e81d';
				}
			}
			.url {
				.fh;
				clear: both;
				font-size: 24px;
				font-weight: bold;
				padding: 5px 0 0;
				@media @sm, @xs {
					font-size: 20px;
				}
				a {
					color: @c7;
				}
			}
		}
	}
}
.page_app {
	margin: 0 0 -35px;
	h1 {
		margin: 0 0 45px;
	}
	.inner {
		position: relative;
		overflow: hidden;
		color: #fff;
		padding: 90px 0 0;
		background: @c15 url(../images/bg/07.png) repeat-x top;
		&:before, &:after{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			margin: -10px 0 0 -1000px;
			border-left: 910px solid transparent;
			border-right: 1090px solid transparent;
			border-top: 30px solid #fff;
		}
		&:before{
			margin-top: 0;
			border-top-color: fade(#000,20);
		}
	}
	.title {
		.fh;
		.border-radius(12px);
		position: relative;
		margin: 0 7.8% 103px 49%;
		padding: 24px 40px 35px;
		font-size: 34px;
		line-height: 1.3;
		text-transform: uppercase;
		background: @c7;
		@media @xs {
			text-align: center;
			margin: 0 0 50px;
		}
		&:before{
			content: '';
			position: absolute;
			right: 100%;
			bottom: -52px;
			margin: 0 83px 0 0;
			width: 240px;
			height: 301px;
			background: url(../images/figures/08.png) no-repeat;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			@media @xs {
				position: static;
				display: block;
				margin: 0 auto 30px;
			}
		}
		&:after{
			content: '';
			position: absolute;
			right: 100%;
			top: 50%;
			height: 3px;
			margin: -72px 0 0;
			border-top: 70px solid transparent;
			border-bottom: 70px solid transparent;
			border-right: 60px solid @c7;
			-webkit-box-sizing: initial;
			-moz-box-sizing: initial;
			box-sizing: initial;
			@media @xs {
				display: none;
			}
		}
		mark {
			color: @c6;
		}
	}
	.content {
		.fh;
		font-size: 24px;
		line-height: 1.45;
		float: left;
		width: 50%;
		@media @xs {
			float: none;
			width: auto;
		}
		mark {
			color: @c6;
		}
	}
	.highlight {
		padding: 50px 0 100px;
		margin: 40px 0 0;
		background: @c16 url(../images/bg/08.png) repeat-x bottom;
		figure {
			position: relative;
			width: 50%;
			float: left;
			height: 56px;
			margin: 34px 0 0;
			@media @xs {
				width: auto;
				float: none;
				height: auto;
			}
			&:before{
				.border-radius(50%);
				content: '';
				position: absolute;
				top: 0;
				left: 3%;
				right: 13%;
				bottom: 0;
				background: fade(#000,30);
				@media @xs {
					display: none;
				}
			}
			img {
				.rotate(13deg);
				position: absolute;
				bottom: 28px;
				left: 21%;
				width: 252px!important;
				@media @xs {
					.rotate(0deg);
					display: block;
					position: static;
					margin: auto;
					width: 60%!important;
				}
			}
		}
	}
	.footer {
		padding: 13px 0 45px;
		line-height: 1.75;
		color: @c4;
		background: @c17;
		p {
			margin: 0 0 30px;
			&.arrow {
				position: relative;
				display: inline-block;
				padding: 0 90px 0 0;
				&:before{
					.fi;
					.rotate(66deg);
					position: absolute;
					right: 0;
					bottom: -5px;
					content: '\e822';
					font-size: 86px;
					line-height: 1;
					color: @c16;
				}
			}
		}
		small {
			line-height: 1.7;
			display: inline-block;
		}
		.buttons {
			float: right;
			width: 50%;
			margin: -115px 0 0 8%;
			@media @xs {
				float: none;
				width: auto;
				margin: 0;
			}
			ul {
				.rul;
				li {
					.rli;
					margin: 0 0 20px;
					a {
						.fh;
						.clearfix;
						.border-radius(8px);
						.transition(0.2s);
						position: relative;
						display: block;
						color: #fff;
						font-size: 20px;
						line-height: 1.25;
						font-weight: bold;
						text-decoration: none;
						padding: 24px 38px 26px 70px;
						background: @c4;
						&:hover{
							background: darken(@c4,5);
						}
						&:before{
							.fi;
							content: '\e824';
							position: absolute;
							top: 50%;
							left: 20px;
							font-size: 46px;
							line-height: 1;
							margin: -23px 0 0;
							color: @c12;
						}
						mark {
							color: #fff;
							display: block;
							text-transform: uppercase;
						}
						img {
							float: right;
							margin: 6px 0 0 10px;
							width: 140px!important;
						}
					}
				}
			}
		}
	}
}
.box_order {
	.clearfix;
	margin: 0 0 5px;
	.content {
		.fh;
		position: relative;
		float: left;
		width: 50%;
		padding: 20px 100px 0 0;
		color: @c3;
		font-size: 24px;
		line-height: 1.25;
		@media @sm {
			padding: 10px 65px 0 0;
		}
		@media @xs {
			float: none;
			width: auto;
			padding: 0 0 70px;
		}
		&:before{
			.fi;
			content: '\e824';
			position: absolute;
			top: 10px;
			right: -10px;
			color: @c12;
			font-size: 86px;
			line-height: 1;
			text-align: center;
			@media @xs {
				top: auto;
				bottom: 0;
				right: 50%;
				width: 120px;
				margin: 0 -60px 0 0;
				content: '\e826';
			}
		}
	}
	.button {
		float: left;
		width: 50%;
		padding: 0 0 0 70px;
		@media @sm {
			padding: 0 0 0 10px;
		}
		@media @xs {
			float: none;
			width: auto;
			padding: 0 0 40px;
		}
		a {
			.fh;
			.border-radius(6px);
			.transition(0.2s);
			display: block;
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 26px;
			line-height: 1.2;
			padding: 37px 20px;
			background: @c7;
			&:hover{
				background: darken(@c7,10%);
			}
			[class^="icon-"] {
				float: left;
				font-size: 42px;
				line-height: 1;
				margin: -7px 0 0;
			}
		}
	}
}
.box_info {
	position: relative;
	padding: 135px 0 80px;
	background: @c8 url(../images/bg/04.png) repeat-x top;
	.title {
		.fh;
		position: relative;
		float: left;
		color: @c9;
		font-size: 21px;
		line-height: 1.2;
		padding: 0 45px 19px 0;
		width: 24%;
		text-transform: uppercase;
		@media @xs {
			float: none;
			width: auto;
			padding-right: 0;
			margin: 0 0 20px;
		}
		&:before, &:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 45px;
			height: 2px;
			background: @c9;
		}
		&:after{
			right: auto;
			width: 48px;
			bottom: 2px;
		}
	}
	.content {
		width: 76%;
		float: left;
		font-size: 15px;
		@media @xs {
			width: auto;
			float: none;
		}
		nav {
			a {
				.btn;
				&:before{
					.fi;
					content: '\e80c';
					font-size: 22px;
					float: left;
					margin: 0 12px 0 -5px;
				}
			}
		}
	}
}
.box_video {
	position: relative;
	padding: 61.2% 0 0;
	margin: 0 0 20px;
	&>* {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}
.box_download {
	h2 {
		color: @c12;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 30px;
	}
	ul {
		.rul;
		li {
			.fh;
			.rli;
			padding: 0 0 0 70px;
			margin: 0 0 25px;
			line-height: 1.1;
			font-size: 32px;
			a {
				color: @c3;
				text-decoration: none;
				border-bottom: 1px solid @c3;
				&:hover{
					border-color: transparent;
				}
				[class^="icon-"] {
					position: absolute;
					top: -7px;
					left: 0;
					text-decoration: none;
					font-size: 48px;
					line-height: 1;
					&:before{
						margin: 0;
					}
					&.icon-woman, &.icon-girl {
						color: @c14;
					}
					&.icon-man, &.icon-boy {
						color: @c12;
					}
				}
			}
		}
	}
}
.box_category_buttons {
	padding: 0 0 50px;
	margin: 0 0 60px;
	background: url(../images/bg/06.png) repeat-x bottom;
	-webkit-background-size: 10px auto;
	background-size: 10px auto;
	.title {
		.fh;
		font-size: 32px;
		line-height: 1.2;
		text-transform: uppercase;
		margin: 0 0 40px;
		color: @c3;
		mark {
			color: @c12;
			font-weight: bold;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			width: 50%;
			margin: 0 -4px 20px 0;
			padding: 0 75px 0 0;
			@media @sm {
				padding-right: 15px;
			}
			@media @xs {
				display: block;
				width: auto;
				padding: 0;
				margin-right: 0;
			}
			&:nth-child(even) {
				padding: 0 0 0 75px;
				@media @sm {
					padding-left: 15px;
				}
				@media @xs {
					padding-left: 0;
				}
				&:before{
					.border-radius(2px);
					.rotate(21deg);
					top: -5px;
					left: -2px;
					bottom: -5px;
					width: 4px;
					background: @c12;
					@media @sm {
						.rotate(0deg);
						top: 0;
						bottom: 0;
					}
					@media @xs {
						display: none;
					}
				}
			}
			&.highlight {
				a {
					background: @c7;
					&:hover{
						background: darken(@c7,5);
					}
				}
			}
			a {
				.btn;
				position: relative;
				display: block;
				height: auto;
				font-size: 26px;
				line-height: 1.2;
				white-space: normal;
				font-weight: bold;
				text-transform: uppercase;
				text-align: left;
				padding: 37px 20px 37px 80px;
				@media @sm {
					font-size: 23px;
				}
				[class^="icon-"] {
					position: absolute;
					top: 50%;
					left: 20px;
					font-size: 38px;
					width: 58px;
					text-align: center;
					margin: -24px 0 0;
					font-weight: normal;
					&:before{
						margin: 0;
					}
				}
			}
		}
	}
}
.box_accordion {
	padding: 0 0 50px;
	margin: 0 0 50px;
	background: url(../images/bg/06.png) repeat-x bottom;
	-webkit-background-size: 10px auto;
	background-size: 10px auto;
	.item {
		margin: 0 0 14px;
		&.on {
			.header {
				a {
					&:before{
						content: '\e82d';
					}
				}
			}
			.content {
				display: block;
			}
		}
		.header {
			a {
				.fh;
				.border-radius(4px);
				display: block;
				position: relative;
				text-decoration: none;
				color: @c3;
				font-size: 32px;
				line-height: 1.2;
				padding: 15px 20px 13px 98px;
				background: @c8;
				&:before{
					.fi;
					content: '\e82c';
					position: absolute;
					z-index: 1;
					top: 50%;
					left: 0;
					font-size: 42px;
					width: 66px;
					color: #fff;
					font-weight: normal;
					line-height: 66px;
					margin: -33px 0 0;
					text-align: center;
				}
				&:after{
					.border-radius(4px);
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					width: 66px;
					background: darken(@c8,15);
				}
			}
		}
		.content {
			display: none;
			padding: 35px 36px 28px;
			margin: 1px 0 14px;
			line-height: 1.45;
			background: lighten(@c8,12);
		}
	}
}