html,body,button,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	text-align: center;
	font-weight: normal;
	color: @cp;
	background: @bb;
}
h1,h2,h3,h4,h5,h6{
	.fh;
	margin: 0 0 10px;
	line-height: @lhh;
	font-weight: normal;
}
h1{
	color: @c3;
	text-transform: uppercase;
	font-size: 48px;
	margin: 0 0 40px;
}
h2{
	color: @c3;
	font-size: 32px;
}
h3{
	font-size: 26px;
}
h4{
	font-size: 22px;
}
h5{
	font-size: @fsp;
}
h6{
	font-size: @fsp;
}
p{
	margin: 0 0 20px;
}
ul,ol{
	padding: 0;
	margin: 0 0 20px 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 16px;
	margin: 0;
	&:before{
		.fi;
		position: absolute;
		top: 5px;
		left: 0;
		font-size: 12px;
		line-height: 1;
		content: '\e814';
	}
	&>ul{
		padding: 10px 0;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin: 0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
table {
	width: 100%;
	margin: 0 0 20px;
	th,td {
		font-size: 15px;
		padding: 7px 10px;
		border: 1px solid #ddd;
	}
	thead td, th {
		background: #f1f1f1;
	}
	tfoot td, tfoot th {
		background: #f9f9f9;
	}
}
hr{
	margin: 0 0 20px;
	border: 0;
	height: 20px;
	background: url(../images/bg/06.png) repeat-x center;
	-webkit-background-size: 10px auto;
	background-size: 10px auto;
}
strong,b{
	font-weight: bold;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @cl;
	cursor: pointer;
	&:hover{
		text-decoration:none;
	}
}