@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?24625605');
  src: url('../font/icons.eot?24625605#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?24625605') format('woff2'),
       url('../font/icons.woff?24625605') format('woff'),
       url('../font/icons.ttf?24625605') format('truetype'),
       url('../font/icons.svg?24625605#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?24625605#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-check:before { content: '\e800'; } /* '' */
.icon-circle:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-attention:before { content: '\e805'; } /* '' */
.icon-attention-triangle:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-drop:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-file:before { content: '\e80a'; } /* '' */
.icon-suitcase:before { content: '\e80b'; } /* '' */
.icon-dot-3:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-user-md:before { content: '\e80e'; } /* '' */
.icon-user-2:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e810'; } /* '' */
.icon-comment:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-left:before { content: '\e813'; } /* '' */
.icon-right:before { content: '\e814'; } /* '' */
.icon-up:before { content: '\e815'; } /* '' */
.icon-down:before { content: '\e816'; } /* '' */
.icon-home:before { content: '\e817'; } /* '' */
.icon-left-dir:before { content: '\e818'; } /* '' */
.icon-right-dir:before { content: '\e819'; } /* '' */
.icon-down-dir:before { content: '\e81a'; } /* '' */
.icon-up-dir:before { content: '\e81b'; } /* '' */
.icon-phone:before { content: '\e81c'; } /* '' */
.icon-desktop:before { content: '\e81d'; } /* '' */
.icon-pin:before { content: '\e81e'; } /* '' */
.icon-arr-hw-right:before { content: '\e81f'; } /* '' */
.icon-arr-hw-left:before { content: '\e820'; } /* '' */
.icon-arr-hw-down:before { content: '\e821'; } /* '' */
.icon-arr-hw-up:before { content: '\e822'; } /* '' */
.icon-arr-at-up:before { content: '\e823'; } /* '' */
.icon-arr-at-right:before { content: '\e824'; } /* '' */
.icon-arr-at-left:before { content: '\e825'; } /* '' */
.icon-arr-at-down:before { content: '\e826'; } /* '' */
.icon-kids:before { content: '\e827'; } /* '' */
.icon-adults:before { content: '\e828'; } /* '' */
.icon-download:before { content: '\e829'; } /* '' */
.icon-album:before { content: '\e82a'; } /* '' */
.icon-plusicon:before { content: '\e82c'; } /* '' */
.icon-minus:before { content: '\e82d'; } /* '' */
.icon-woman:before { content: '\e82e'; } /* '' */
.icon-boy:before { content: '\e82f'; } /* '' */
.icon-girl:before { content: '\e830'; } /* '' */
.icon-man:before { content: '\e831'; } /* '' */