
.icon-check:before { content: '\e800'; } /* '' */
.icon-circle:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-attention:before { content: '\e805'; } /* '' */
.icon-attention-triangle:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-drop:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-file:before { content: '\e80a'; } /* '' */
.icon-suitcase:before { content: '\e80b'; } /* '' */
.icon-dot-3:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-user-md:before { content: '\e80e'; } /* '' */
.icon-user-2:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e810'; } /* '' */
.icon-comment:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-left:before { content: '\e813'; } /* '' */
.icon-right:before { content: '\e814'; } /* '' */
.icon-up:before { content: '\e815'; } /* '' */
.icon-down:before { content: '\e816'; } /* '' */
.icon-home:before { content: '\e817'; } /* '' */
.icon-left-dir:before { content: '\e818'; } /* '' */
.icon-right-dir:before { content: '\e819'; } /* '' */
.icon-down-dir:before { content: '\e81a'; } /* '' */
.icon-up-dir:before { content: '\e81b'; } /* '' */
.icon-phone:before { content: '\e81c'; } /* '' */
.icon-desktop:before { content: '\e81d'; } /* '' */
.icon-pin:before { content: '\e81e'; } /* '' */
.icon-arr-hw-right:before { content: '\e81f'; } /* '' */
.icon-arr-hw-left:before { content: '\e820'; } /* '' */
.icon-arr-hw-down:before { content: '\e821'; } /* '' */
.icon-arr-hw-up:before { content: '\e822'; } /* '' */
.icon-arr-at-up:before { content: '\e823'; } /* '' */
.icon-arr-at-right:before { content: '\e824'; } /* '' */
.icon-arr-at-left:before { content: '\e825'; } /* '' */
.icon-arr-at-down:before { content: '\e826'; } /* '' */
.icon-kids:before { content: '\e827'; } /* '' */
.icon-adults:before { content: '\e828'; } /* '' */
.icon-download:before { content: '\e829'; } /* '' */
.icon-album:before { content: '\e82a'; } /* '' */
.icon-plusicon:before { content: '\e82c'; } /* '' */
.icon-minus:before { content: '\e82d'; } /* '' */
.icon-woman:before { content: '\e82e'; } /* '' */
.icon-boy:before { content: '\e82f'; } /* '' */
.icon-girl:before { content: '\e830'; } /* '' */
.icon-man:before { content: '\e831'; } /* '' */